# Configuración de la aplicación
SECRET_KEY=tu-clave-secreta-aqui-cambiar-en-produccion
FLASK_ENV=development
FLASK_DEBUG=True

# Configuración de archivos
MAX_CONTENT_LENGTH=52428800  # 50 MB en bytes
UPLOAD_FOLDER=uploads # Carpeta para los archivos subidos por el usuario.
OUTPUT_FOLDER=outputs # Carpeta para los archivos procesados de los usuarios.

# Configuración del servidor
HOST=0.0.0.0
PORT=5000